body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}


/*----Navigation bar-----*/
*{
	margin:0;
	padding:0;
	font-family: 'Roboto',sans-serif;
}
.logo{
	margin-top: 10px;
	width: 100px;
	cursor: pointer;
	padding-left:50px;
}
.navbar{
	height: 12px;
	display: flex;

	align-items: center;
	padding-top: 10px;
	padding-right:30px;
}

nav{
	flex: 1;
	text-align: right;
	padding-top: 10px;
	
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	padding-top: 10px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding-top: 10px;
	
}
        html, body {
            margin: 0;
            padding: 0;
            color: white;
            background-color: black;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
			
        }

        .ti {
            padding-top: 40px;
            text-align: center;
        }

        .articles {
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
			margin-left:-40px;
        }

        .cart {
            width: 300px;
            margin: 40px;
            margin-left: 10px;
        }

        .articles > div {
            width: 200px;
            margin: 20px;
        }

        img {
            width: 100%;
            border-radius: 20px;
        }

        .prod {
            display: flex;
            flex-direction: row;
        }

        .tit {
            width: 100px;
            padding-left: 20px;
        }

        #price1, #price2, #price3, #price4 {
            margin-right: 5px;
        }

        .inputs, input, select {
            text-align: center;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }

        input {
            width: 50px;
        }

        .addTo {
            position: relative;
            left: 0px;
            width: 100px;
            height: 25px;
            border-radius: 15px;
            margin-top: 20px;
            background-image: linear-gradient(to right, #ff512f, #dd2476);
            color: beige;
            border-width: 0px;
        }
        
        .addTo:hover {
            background-image: none;
            background-color: red;
            box-shadow: 0 0 20px red, 0 0 60px red, 0 0 60px red;
        }

        li {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #message1, #message2, #message3, #message4 {
            color: greenyellow;
            text-align: center;
        }

        button {
            position: absolute;
            right: 20px;
            border-radius: 50%;
            color: aliceblue;
            background-color: #ff512f;
            border-width: 0px;
        }

        button:hover {
            background-color: #dd2476;
        }
		.card{
	width:200px;
	height:170px;
	display:inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;	
	background-position:center;
	background-size:cover;
	padding-top:10px;
	transition:transform 0.5s;
}
.card:hover{
	transform:translateY(-10px);
}
.vl {
  border-left: 6px solid White;
  height: 2500px;
  position: absolute;
  left: 50%;
  margin-left: 280px;
  margin-top:-2400px;
  
}
div.kl {
	margin-top:-2100px;
  position: left;
  Position:fixed;
  width: 350px;
  height:flex;
  margin-left: 890px;
border: 3px solid white ;
}
div.ex3 {
  background-color: black;
  margin-top:-2300px;
  position: left;
  Position:fixed;
  width: 350px;
  height:370px;
  margin-left: 890px;
border: 3px solid white ;
  overflow: auto;
}
div.tit .h3{
	position:fixed;
}